/* http://pmsys.org/
   version 1.0
   Written by Nurietin Mehmedov (01.08.2012).  
   Please attribute the author if you use it. */
   
*
{
    margin: 0;
    padding: 0;
}
form, input, select, textarea
{   
    color: #000;
}

body
{
	padding: 5px;	
    font-family: 'Droid Sans' , sans-serif;
    font-size: 0.7em;
    color: #2d2d2d;
}


li{
	list-style: none;	
}

p
{
    padding: 0px;
    color: #2d2d2d;
    font-size: 1.2em;
}


.right
{
    float: right;
}

.left
{
    float: left;
}

.clear
{
    clear: both;
}

.center
{
    text-align: center;
}

img.center
{
    vertical-align: middle;
}


a, a:hover, a:visited, a:active
{
    border: none;
    outline: none;
    text-decoration: none;
	
}
a:hover
{
    text-decoration: underline;
}
a img
{
    border: none;
}
p
{
    margin: 3px 0;
    clear: both;
}
h1, h2, h3, h4, h5, h6
{
    padding: 0px;
    color: #444;
    margin: 3px;
    font-weight: normal;
}
h1
{
    color: #444;
    font-size: 2.2em;
}
h2
{
    font-size: 1.8em;
}
h3
{
    font-size: 1.6em;
}
h4
{
    font-size: 1.4em;
}
h5
{
    font-size: 1.2em;
}
h6
{
    font-size: 1.1em;
}


#Wrapper
{
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 15px #2d2d2d;
    position: relative;
}


#MainHeader
{
    width: 970px;
    height: 70px;
    padding: 15px;
    font: 14px Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #2d2d2d;
    background: url('/logos/pmsys.png') right center no-repeat;
}


#MainFooter
{
    background-color: #f2f2f2;
    border-top: 1px solid #aaa;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 -3px 3px 0 rgba(0,0,0,.15);
    font-size: 1em;
    color: #fff;
}

#MainFooter .footerLinkContainerWrapper
{
    padding-bottom: 10px;
}

#MainFooter .footerLinkContainerWrapper:after
{
    content: "";
    display: block;
    _zoom: 1;
    clear: both;
}

#MainFooter .footerLinkContainerWrapper .footerLinkContainer
{
    float: left;
    width: 240px;
    margin: 10px 0 0 10px;
}

#MainFooter .footerLinkContainerWrapper .footerLinkContainer h4
{
	font-size: 1.3em;
    margin: 0 5px 0 0;
    font-weight: bold;
    background-color: #5677aa;
    padding: 10px;
}

#MainFooter .footerLinkContainerWrapper .footerLinkContainer ul
{
    font: 14px Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

#MainFooter .footerLinkContainerWrapper .footerLinkContainer a
{
    color: #2d2d2d;
}


#MainFooter #FooterBar p
{
    text-align: left;
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
    margin: 10px 0 0 10px;
}

#MainFooter #FooterBar p a
{
    color: #fff;
}


#MainFooter #FooterBar
{
    text-align: right;
    height: 70px;
    width: 100%;
    background-color: #21242d;
}

#MainFooter #SocialNetworks
{
    width: 410px;
    margin-right: 10px;
}

#MainFooter #SocialNetworks li
{
    line-height: 70px;
    list-style-type: none;
    display: inline-block;
    margin: 0 3px;
}


#MainFooter #SocialNetworks li img
{
    vertical-align: middle;
}

#MainContent
{    
    font-size: 1.3em;
}

#MainContent h1, #MainContent h2, #MainContent h3, #MainContent h4
{
    color: #444;
}

#MainContent p, #MainContent li, #MainContent span, #MainContent strong
{
    font-size: 1em;
}


#MainContent p span, #MainContent p a, #MainContent p strong
{
    font-size: 1em;
}

#MainContent a
{
    color: #2d2d2d;
	
}

#MainContent a:hover
{
    color: red;	
	text-decoration: none;

}

#MainContent #InnerBlocsSortableList:after
{
    content: "";
    display: block;
    clear: both;
    _zoom: 1;
}

#MainContent .innerBlocks section
{
    font-size: 10px;
}


#Copyright a
{
    color: #fff;
}


.filter-box
{
    float: left;
    width: 1000px;
    background: #f5f5f5;
    position: relative;
    font: 14px Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#MainFrame
{
    padding: 20px;
    font: 12px Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#MainFrame p
{
    padding: 15px;
}


table
{
    float: left;    
    position: relative;        
    background: #fff;
}


table td
{
    padding: 10px;
    margin: 5px;
    color: #2d2d2d;
    
}

table th
{
    background-color: #2d2d2d;
    color: #f5f5f5;
    text-align: left;   
    padding: 10px;
    margin: 10px;
}

/* PM SYS basic */
.pm-style-box
{	
	
    width: 540px;
	height: auto;
	padding: 20px;
    font: 14px Arial, Helvetica, sans-serif;
    text-decoration: none;
}


div.main-box
{
float: left;
position: relative;
width:220px;
height: 250px;
padding:10px;
border:1px solid #2d2d2d;
margin:30px;
background-color: #f5f5f5;

}

div.main-box:hover 
{	    
	background-color: #fff;
}

.odd-row
{
    background-color: #ccc;
}

.even-row
{
    background-color: #cacaff;
}


/* add style for document description */
.document-descr
{
    margin: 2px;
	padding: 10px;   
    background-color: #fff;
    color: #2d2d2d;
	width: 700px;
	position: absolute;
	opacity: 0.8;
    
}

/* -------------------------------------- */

/* style for modal form input text element */
.dialog_input_text {
padding:10px 10px;
width:200px;
border-bottom: 1px double #ccc;
border-top: 1px double #ccc;
border-left:1px double #ccc;
border-right:1px double #ccc;
}

.dialog_message{
padding:10px 10px;
width:340px;
height: 50px;
border-bottom: 1px double #ccc;
border-top: 1px double #ccc;
border-left:1px double #ccc;
border-right:1px double #ccc;
}

/* ------------------------------------- */


