<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="jsonbridge.AuthEnabled" value="false" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
	
	 <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
     </customHeaders>
   </httpProtocol>
        <staticContent>
            <clientCache cacheControlMode="NoControl" />
        </staticContent>
	
  </system.webServer>
</configuration>
